# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Robot Framework
log.html
report.html
output.xml
*.png

# Playwright / Browser
playwright-report/
test-results/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db